# 22 feb assignment

# Answer-1

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]

In [3]:
d=pd.Series(data)

In [4]:
print(d)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Answer-2

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]

In [7]:
import pandas

In [8]:
d=pandas.Series(l)

In [9]:
print(d)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Answer-3

In [2]:
import pandas as pd

In [3]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [4]:
d=pd.DataFrame(data,index=None)

In [5]:
print(d)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Answer-4

In [8]:
# In pandas, a DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).
# Arithmetic operations align on both row and column labels. It can be thought of as a dict-like container for Series objects1.

# On the other hand, a Series in pandas is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers,
# Python objects, etc.). The axis labels are collectively referred to as the index
# example
import pandas as pd

# Create dictionary for Series
d = { 'one' : [ 1, 2, 3, 4, 5, 6 ]}
# Create series
ser = pd.Series(d)
print("Created Series:\n", ser)

# Create dictionary for DataFrame
d = { 'a' : [ 'This', 'It', 'It' ],
      'b' : [ 'is', 'contain', 'is' ],
      'c' : [ 'a', 'multiple', '2-D' ],
      'd' : [ 'DataFrame', 'rows and columns', 'Data structure' ] 
    }
# Create DataFrame
df = pd.DataFrame(d)
print("Created DataFrame:\n", df)

Created Series:
 one    [1, 2, 3, 4, 5, 6]
dtype: object
Created DataFrame:
       a        b         c                 d
0  This       is         a         DataFrame
1    It  contain  multiple  rows and columns
2    It       is       2-D    Data structure

# Answer-5

In [9]:
#some common functions you can use to manipulate data in a Pandas DataFrame:

# head(n): This function is used to get the first n rows of the DataFrame1.
# shape: It returns the number of rows and columns in a DataFrame1.
# describe(): This method provides a summary of statistics of a DataFrame1.
# dropna(): It is used to drop the missing values (NaN) in a DataFrame1.
# merge(): This function is used to merge two DataFrames based on a common column1.
# rename(): It is used to rename the columns of a DataFrame1.
# sort_values(): This method is used to sort the DataFrame
# example
import pandas as pd

# Create a dictionary
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, None],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

# Create DataFrame from dictionary
df = pd.DataFrame(data)

# Use head() function to get the first 3 rows
print(df.head(3))

# Use shape to get the number of rows and columns
print(df.shape)

# Use describe() to get summary statistics
print(df.describe())

# Use dropna() to drop rows with missing values
df = df.dropna()
print(df)

# Create another DataFrame
data2 = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Job': ['Teacher', 'Engineer', 'Doctor', 'Artist']
}
df2 = pd.DataFrame(data2)

# Use merge() to merge df and df2
merged_df = pd.merge(df, df2, on='Name')
print(merged_df)

# Use rename() to rename columns
renamed_df = merged_df.rename(columns={'Name': 'Full Name'})
print(renamed_df)

# Use sort_values() to sort by Age
sorted_df = renamed_df.sort_values(by=['Age'])
print(sorted_df)

    Name   Age      City
0   John  28.0  New York
1   Anna  24.0     Paris
2  Peter  35.0    Berlin
(4, 3)
             Age
count   3.000000
mean   29.000000
std     5.567764
min    24.000000
25%    26.000000
50%    28.000000
75%    31.500000
max    35.000000
    Name   Age      City
0   John  28.0  New York
1   Anna  24.0     Paris
2  Peter  35.0    Berlin
    Name   Age      City       Job
0   John  28.0  New York   Teacher
1   Anna  24.0     Paris  Engineer
2  Peter  35.0    Berlin    Doctor
  Full Name   Age      City       Job
0      John  28.0  New York   Teacher
1      Anna  24.0     Paris  Engineer
2     Peter  35.0    Berlin    Doctor
  Full Name   Age      City       Job
1      Anna  24.0     Paris  Engineer
0      John  28.0  New York   Teacher
2     Peter  35.0    Berlin    Doctor

# Answer-6

In [10]:
# In pandas, both DataFrame and Panel are mutable in nature, meaning their data can be changed123.
# However, a Series is size immutable,meaning its size cannot be changed13.

# Answer-7

In [16]:
import pandas as pd

# Create Series
s1 = pd.Series([1, 2, 3, 4, 5], name='Numbers')
s2 = pd.Series(['a', 'b', 'c', 'd', 'e'], name='Letters')

# Create DataFrame using multiple Series
df = pd.concat([s1, s2],axis=1)

print(df)

   Numbers Letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e